@model Repositorio.DonacionesMonetarias
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donacion Monetaria</title>
</head>
<body>
    <div>
    @using (Html.BeginForm("DonacionMonetaria", "Donacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {      <div>
    <input type="hidden" name="IdNecesidadDonacionMonetaria" value="@TempData["IdnecesidadesDonacionesMonetarias"] " />
    Total requerido  : <input type="text" name="CBU" value="@TempData["Dinero"]" disabled="disabled" />
    <br>
    Total restante : <input type="text" name="CBU" value="@TempData["DineroRestante"]" disabled="disabled" />
    <br>
    CBU : <input type="text" name="CBU" value="@TempData["CBU"]" disabled="disabled" />
    <br>
    Cantidad a donar :
    @Html.EditorFor(o => o.Dinero)
    @Html.ValidationMessageFor(o => o.Dinero)
    <br>
    Adjuntar comprobante :
    <input type="file" title="Agregar Comprobante" id="archivo" name="archivo" class="form-control-file" />
    @Html.ValidationMessage("ArchivoEmpty")
    </div>
    <div>
         <input type="submit" value="Confirmar" />
    </div>
    }
    </div>
</body>
</html>
