@model DonacionMonetariaViewModel
@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donacion Monetaria</title>
</head>
<body>
    <div>
    @using (Html.BeginForm("DonacionMonetaria", "Donacion", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-group" }))
    {      <div>
    @Html.HiddenFor(Model => Model.IdNecesidadDonacionMonetaria)
    Total requerido  : @Html.TextBoxFor(Model => Model.Dinero, new { @readonly = "readonly" })
    <br>
    Total restante  : @Html.TextBoxFor(Model => Model.totalRestante, new { @readonly = "readonly" })
    <br>
    CBU : @Html.TextBoxFor(Model => Model.CBU, new { @readonly = "readonly" })
    <br>
    Cantidad a donar :
    @if (Model.totalRestante == 0)
    {
        @Html.TextBoxFor(Model => Model.DineroAdonar, new { @readonly = "readonly" })
        @Html.ValidationMessage("CantidadDineroAdonar")
    }
    else
    {
        @Html.EditorFor(Model => Model.DineroAdonar)
        @Html.ValidationMessage("CantidadDineroAdonar")

    }
    <br>
    Adjuntar comprobante :
    <input type="file" title="Agregar Comprobante" id="archivo" name="archivo" class="form-control-file" />
    @Html.ValidationMessage("ArchivoEmpty")
</div>
    <div>
         <input type="submit" value="Confirmar" />
    </div>
    }
    </div>
</body>
</html>
