@model DetalleNecesidadViewModel

@{
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<div>
    @MostrarNecesidad(Model.Necesidad.TipoDonacion)
</div>

@helper MostrarNecesidad(int tipoDonacion)
{
    if (tipoDonacion == 0)
    {
        @GenerarHtmlParaNecesidad("text-white bg-success")
    }
    else
    {
        @GenerarHtmlParaNecesidad("text-white bg-info")
    }
}

@helper GenerarHtmlParaNecesidad(string headerClass)
{
    <div class="row">
        <div class="col-md-8 mx-auto">
            @if (!string.IsNullOrWhiteSpace(Model.Mensaje))
            {
                <div class="alert alert-warning text-center mx-5" role="alert">
                    <strong>@Model.Mensaje</strong>
                </div>
            }
            <div class="card promoting-card">
                <div class="card-header flex-row @headerClass">
                    <h4 class="card-title font-weight-bold mb-2">@Model.Necesidad.Nombre</h4>
                </div>
                <div class="view overlay mt-3">
                    <img src="~/Content/necesidades/imagenes/@Model.Necesidad.IdUsuarioCreador/@Model.Necesidad.Foto" class="card-img-top rounded-0" alt="">
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Necesidad.Descripcion</p>
                    <p>Detalle de donaciones</p>
                    <ul>
                        @foreach (var detalle in Model.DetalleTotalDonacion)
                        {
                            <li>Total donado de @detalle.Key: @detalle.Value</li>
                        }
                    </ul>
                    <div class="card-text"><small class="text-muted">Valoracion actual: @Model.Necesidad.Valoracion %</small></div>
                    <div class="card-text"><small class="text-muted">Fecha de finalización: @Model.Necesidad.FechaFin.ToString("dd/MM/yyyy")</small></div>
                    <div class="card-text"><small class="text-muted">Creado por: @Model.Necesidad.Usuarios.UserName</small></div>
                    <div class="mt-3">
                        @if (!Model.EsPropietario)
                        {
                            <a class="btn btn-info" role="button" href="/Denuncias/DenunciarNecesidad?idNecesidad=@Model.Necesidad.IdNecesidad">Denunciar</a>
                            <a class="btn btn-info" role="button" href="/Donacion/Donacion?idNecesidad=@Model.Necesidad.IdNecesidad">Donar</a>
                            <div class="float-right">
                                <a class="btn btn-success" role="button" href="/Necesidad/ValorarNecesidad?idNecesidad=@Model.Necesidad.IdNecesidad&valoracion=true">Me gusta</a>
                                <a class="btn btn-danger" role="button" href="/Necesidad/ValorarNecesidad?idNecesidad=@Model.Necesidad.IdNecesidad&valoracion=false">No me gusta</a>
                            </div>
                        }
                        else
                        {
                            <a class="btn btn-info" role="button" href="/Necesidad/Modificarnecesidad?idNecesidad=@Model.Necesidad.IdNecesidad">Modificar</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}