@model Repositorio.Usuarios

@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<h2>LoginUsuario</h2>


@using (Html.BeginForm("LoginUsuario", "Login", FormMethod.Post, new { id = "Usuarios" }))
{
    @*if (ViewBag.url != null)
    {
        <input type="hidden" name="urlRedirect" value="@ViewBag.url" />
    }*@

    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-warning">@ViewBag.Message</div>
    }


    <div>
        Email: @Html.EditorFor(o => Model.Email)
        @Html.ValidationMessageFor(o => o.Email)
    </div>

    <div>
        @*Password: @Html.EditorFor(o => Model.Password)
        @Html.ValidationMessageFor(o => o.Password)*@
    </div>

    <input type="submit" value="Ingresar" />

}