@model AyudandoEnLaPandemia.ViewModels.UsuariosViewModel

@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<div class="modal-dialog text-center">
    <div class="" id="message1">
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span>
            <strong>
                ¡Gracias por registrarte!<br />
                Un email fue enviado a tu casilla con el link de confirmación.<br />
                Por favor revisa tu correo.
            </strong>
        </div>
    </div>
    <div class="" id="message2">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span>
            <strong>¡Error! Ese email ya fue registrado.</strong>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center"><h4>Creá tu cuenta</h4></div>
                <div class="card-body">
                    <form action="/Login/RegistroUsuario" method="post" id="UsuariosViewModel">
                        <div class="form-group row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(o => Model.Email, new { @type = "email", @class = "form-control", @placeholder = "Correo electrónico" })
                                @Html.ValidationMessageFor(o => o.Email)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                @Html.PasswordFor(o => Model.Password, new { @type = "password", @class = "form-control", @placeholder = "Contraseña" })
                                @Html.ValidationMessageFor(o => o.Password)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                @Html.PasswordFor(o => Model.RePassword, new { @type = "password", @class = "form-control", @placeholder = "Repetir Contraseña" })
                                @Html.ValidationMessageFor(o => o.RePassword)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(o => Model.FechaNacimiento, new { @type = "date", @class = "form-control", @placeholder = "Fecha de Nacimiento (dd/mm/aa)" })
                                @Html.ValidationMessageFor(o => o.FechaNacimiento)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-block">Crear cuenta</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("mensajeRegistro", (object) ViewBag.Message)
</div>
