@model NecesidadViewModel

@{
    if (Model.Necesidades.Any())
    {
        foreach (var necesidad in Model.Necesidades)
        {
            var necesidadInactiva = (necesidad.FechaFin - DateTime.Now).Days > 0 ? "necesidadInactiva" : string.Empty;

            <div class="col-lg-4 col-sm-6 mb-4 @necesidadInactiva necesidad">
                <div class="card h-100">
                    <img class="card-img-top" src="~/Content/necesidades/imagenes/@necesidad.IdUsuarioCreador/@necesidad.Foto" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@necesidad.Nombre</h4>
                    </div>
                    <ul class="list-group list-group-flush text-left">
                        <li class="list-group-item">Creado por: @necesidad.Usuarios.UserName</li>
                        <li class="list-group-item">Valoración actual: @necesidad.Valoracion</li>
                        <li class="list-group-item">Creado el día: @necesidad.FechaCreacion</li>
                    </ul>
                    <div class="card-footer">
                        @Html.ActionLink("Ver Más", $"Detalle/{necesidad.IdNecesidad}", "Necesidad", null, new { @class = "btn btn-primary text-white" })
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No existen necesidades para mostrar</p>
    }
}